*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}
header{
    width: 100%;
    position: absolute;

}

.overpass_logo{
    width: 50px;
    
}
/* ============================================================
This is the CSS styling for the First Section
====================================================== */
.first_section{
    display: flex;
    width: 100%;
    height: 100%;
    margin: auto;
}
.first_section1{
    width: 50%;
    height: 670.02px;
    /* background: blue; */
    font-size: 15.1148px;
    padding: 113.361px 42.667px 51.957px 86.787px;
}

.first_section1_text1{
    width: 350.86px;
    height: 220.36px;
    margin: 0px 0px 75.574px;
    font-size: 55.7778px;
    color: #000000;
}
.first_section1_text2{
    width: 350.86px;
    height: 110px;
    margin: 0px 0px 39.1111px;
    color: #000000;
}

.first_section1_div3_1{
    width: 179.45px;
    height: 56.67px;
    border: none;
    border-radius: 50px;
    background: #F7F9FB;
    padding: 16.0595px 29.2849px 19.8382px;
}
.first_section1_div3_2{
    width:155.3px;
    height: 56.67px;
    border: none;
    border-radius: 50px;
    background: #000000;
    color: #ffffff;
}
/* ================================================================

===============================================================*/
.first_section2{
    position: relative;
}

.first_section2_centerimg{
    position: absolute;
    width: 690.36px;
    height: 502.54px;
    z-index: 1;
    top: 110px;
    left: -120px;
}
.first_section2_img1{
    width: 147.45px;
    height: 147.45px;
    border-radius: 100%;
}

.first_section2_blue{
    width: 156.05px;
    height: 306.63px;
    background: #0099FF;
    position: absolute;
    top: 0;
    border-radius: 0px 500px 500px 0px;
    left: 147px;
}

.first_section2_img2{
    width: 195.45px;
    height: 195.45px;
    position: absolute;
    border-radius: 100%;
    left: -100px;
    top: 250px;
}

.first_section2_img3{
    width: 147.45px;
    height: 147.45px;
    border-radius: 100%;
    position: absolute;
    left: 520px;
    top:300px ;
}

.first_section2_green{
    position: relative;
    width: 143.23px;
    height: 143.23px;
    background: #38B349;
    border-top-left-radius: 500px;
    right: -520px;
    top: -50px;

}
.first_section2_orange1{
    position: relative;
    width: 143.23px;
    height: 143.23px;
    border-top-left-radius: 500px;
    background: #F8A438;
    right: -520px;
    z-index: -1;
    top: -59px;
}

.first_section2_img4{
    position: relative;
    width: 147.45px;
    height: 147.45px;
    border-radius: 100%;
    right: -303px;
    bottom: -60px;
}

.first_section2_yellow{
    width: 156.05px;
    height: 306.63px;
    background: #FFDA54;
    position: absolute;
    bottom: 0;
    border-radius: 500px 0px 0px 500px;
    left: 147px;
}

.first_section2_orange2{
  position: relative;
  width: 100.07px;
  height: 50.04px;
  background: #F8A438;
  border-radius: 500px 500px 0px 0px;
  left: 120px;
  bottom: -30px;
}

/* ============================================================
This is the CSS styling for the Second Section
====================================================== */
.second-section{
    display: flex;
    width: 100vw;
    height: 627.41px;
}

.second-section_div1{
    width: 60%;
    height: 627.41px;
    background: #FFDA54;
}
.second-section_div1img{
    width: 663.2px;
    height: 639.69px;
    padding: 100px 0px 100px 250px;

}
.second-section_div2{
    width: 40%;
    height:  627.41px;
    background: #F8A438;
    padding: 83.162px 0px 127.125px 120px;
    color: #ffffff;
}

.second-section_div2_textmain{
    width: 403.92px;
    height: 146.91px;
    margin: 0px 0px 73.6846px;
}

.second-section_div2_text1{
    width: 383.19px;
    height: 31.69px;
    color: #ffffff;
    font-size: 15.804px;
    text-align: right;
}
.second-section_div2_text2{
    width: 340.08px;
    height: 76.13px;
    color: #ffffff;
    font-size: 51.8194px;
    margin: 9.502599px 0px -9.50259px;
    padding: 0px 0px 9.50259px;
}
.second-section_div2_text3{
    width: 268.08px;
    height: 76.13px;
    color: #ffffff;
    font-size: 51.8194px;
    margin: 9.502599px 0px -9.50259px;
    padding: 0px 0px 9.50259px;
}

.second-section_div2_text4{
    width: 403.92px;
    height: 113.28px;
    font-size: 15.114px;
    padding: 0px 28.4445px 0px 0px;
}

/* ============================================================
This is the CSS styling for the Third  Section
====================================================== */
.third-section{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 535.64px;
    color: #687086;
    padding: 105.615px 106.167px 78.2333px;
    /* background: #38B349; */
}