
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: serif ;
    background-color: #1a49ba;
    height: 100vh;
    

}
.col1{
    background-color: #ffd128;
    height: 600px;
    width: 700px;
    border-radius: left 200px;
    border-bottom-left-radius: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    
}
.col2{
    background-color:#0099ff;
    height: 600px;
    width: 700px;
    border-bottom-right-radius: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
}


.list{
    list-style: none;
}
    
.head1{
    margin-left: 40px;
}
.head2{
    margin-left: 40px;
    margin-top: 100px;
}
.list2{
    list-style: none;
}
.list3{
    list-style: none;
}
.list4{
    list-style: none;
}
.ind{
   margin-left: 40px; 
}
.agent{
    
}
.res{
    margin-left: 40px;
    margin-top: 100px;
}
.butt{
    width: 200px;
    height: 60px;
    background-color: black; 
    border-radius: 50px;
    border: none; 
    margin-top: 50px; 
}
.butt:hover {
background-color: white;
transition: 3s;
transform: scale(1);
}
.f-innercol{
    margin-top: 100px;
}
.s-innercol{
    margin-top: 100px;
}
.sup{
    margin-top: 50px;
}
.fol{
    position: relative;
    top: 450px;
}
.f-section{
background-color: white;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin: 100px 0px;
}
.faq{
    font-family: sans-serif;
    font-weight: 100;
    text-align: center;
    font-size: 74.4669px;
    /* line-height: 10px; */
    
}

.s-section{
    width: 1200px;
    height: 1000.06px;
    /* background-color: aqua; */
    box-shadow: 10px 10px 50px 10px rgba(151, 149, 149, 0.253);
    border-radius: 10px;
}

.accordion{
    height: 100vh;
    width: 1000px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px;
    overflow: hidden;
    position: relative;
    left: 200px;
    bottom: 100px;
}
.accordioncontent{
padding-left: 20px;
padding-top: 100px;
background-color: beige;
display: none;

}

.link{
    position: relative;
    top: 40px;
    left: 65px;
}


.acclabel{
padding: 14px 20px;
display: block;
font-family: sans-serif;
font-size: large;
cursor: pointer;
position: relative;
top: 50px;
left: 50px;
}


.accordion--input{
    /*display: none; */
}
.accordion--input:checked ~ .accordioncontent{
    display: block; 
}





